<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIT-UTILS</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/style_utils.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    
</head>
<body>
    <div class="forms-container">
        <div class="form-wrapper">
            <div class="logo">
                <span>ВРАЧИ</span>
            </div>
            <form id="doctor-form" action="/doctor_form" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="doctor_1">Врач 1</label>
                    <input type="text" id="doctor_1" name="doctor_1" list="doctors-list" placeholder="ФИО врача">
                </div>
                <div class="form-group">
                    <label for="doctor_2">Врач 2</label>
                    <input type="text" id="doctor_2" name="doctor_2" list="doctors-list" placeholder="ФИО врача">
                </div>
                <div class="form-group">
                    <label for="doctor_3">Врач 3</label>
                    <input type="text" id="doctor_3" name="doctor_3" list="doctors-list" placeholder="ФИО врача">
                </div>
                <div class="form-group">
                    <label for="doctor_4">Врач 4</label>
                    <input type="text" id="doctor_4" name="doctor_4" list="doctors-list" placeholder="ФИО врача">
                </div>
                
                <!-- Datalist для автодополнения врачей -->
                <datalist id="doctors-list">
                    <option value="ЩУКАРЕВА Е.А.">
                    <option value="БАШИЛОВА А.А.">
                    <option value="АЛБАСТОВА М.Т.">
                    <option value="БАСКАКОВА О.А.">
                </datalist>
                {% if status %}
                <div class="form-group">
                    <p class="status-message">{{ status }}</p>
                </div>
                {% endif %}
            </form>
        </div>

        <div class="form-wrapper">
            <div class="logo">
                <span>ПАЦИЕНТЫ</span>
            </div>
            <form>
                <div class="form-group">
                    <label for="patient_1">Пациент 1</label>
                    <input type="text" id="patient_1" name="patient_1" form="doctor-form" placeholder="ФИО пациента">
                </div>
                <div class="form-group">
                    <label for="patient_2">Пациент 2</label>
                    <input type="text" id="patient_2" name="patient_2" form="doctor-form" placeholder="ФИО пациента">
                </div>
                <div class="form-group">
                    <label for="patient_3">Пациент 3</label>
                    <input type="text" id="patient_3" name="patient_3" form="doctor-form" placeholder="ФИО пациента">
                </div>
                <div class="form-group">
                    <label for="patient_4">Пациент 4</label>
                    <input type="text" id="patient_4" name="patient_4" form="doctor-form" placeholder="ФИО пациента">
                </div>
                <div class="form-group">
                    <label for="date">Дата</label>
                    <input type="number" id="date" name="date" form="doctor-form" min="1" max="31" placeholder="День">
                </div>
            </form>
        </div>
        <button type="submit" form="doctor-form">Создать карточки</button>
    </div>
{% include 'footer.html' %}
<script src="/static/token-refresh.js"></script>
</body>
</html>
