<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIT-UTILS</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/style_utils.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="send-email-container">
        <div class="logo">
            <span>GEN CERT</span>
        </div>
        <form action="/gen_rit_cert" method="post" enctype="multipart/form-data" autocomplete="off">
            <div class="form-group">
                <label for="name">ФИО</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="price">СУММА</label>
                <input type="text" id="price" name="price" required>
            </div>

            {% if status %}
            <div class="form-group">
                <p class="status-message">{{ status }}</p>
            </div>
            {% endif %}
            <button type="submit">Скачать</button>
        </form>
    </div>
{% include 'footer.html' %}
<script src="/static/token-refresh.js"></script>
</body>
</html>
